:root{
  --pageFont: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--pageFont);
  padding: 0;
  margin: 0;
}

.navBar {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  position: relative;
}

.subMenu {
  color: white;
  list-style: none;
  display: none;
  position: absolute;
  top: 50px;
  background-color: black;
  width: 150px;
  height: 40px;
}

.itemContainer {
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.item {
  color: white;
  text-align: center;
}

.itemContainer:hover {
  background-color: gray;
}

.itemContainer:hover .subMenu {
  display: block;
}

a {
  text-decoration: none;
}

.searchIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: none;
  background-color: black;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: larger;
}

.banner {
  width: 100%;
  height: 585px;
  background-image: url(./Resources/chicago.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  }

.cityName {
  font-size: large;
  font-weight: bold;
}

.gratitudeText {
  margin: 20px;
  font-size: medium;
}

.bandInfoContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titles {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

.subtitles {
  margin-bottom: 15px;
  color: gray;
  font-style: italic;
  font-size: small;
}

.bandHistory {
  width: 80%;
  height: fit-content;
  text-align: justify;
  font-size: medium;
  margin-bottom: 50px;
}

.bandMembersContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bandMember {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bandMemberName {
  margin: 20px;
}

.bandMemberImage {
  border-radius: 5px;
}

.tourDatesContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles--whiteAndmargin {
  color: white;
  margin-top: 50px;
}

.datesInfoContainer {
  margin: 20px 0 30px;
  background-color: white;
  width: 70%;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.dateContainer--justifyContent {
  justify-content: space-between;
}

.date {
  margin-right: 15px;
  color: gray;
}

.soldOutSign {
  background-color: red;
  padding: 5px;
  color: white;
  font-weight: 550;
}

.numberOfDates {
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 20px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
}

.concertInfoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 100px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: white;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardText {
  padding: 20px;
}

.date--margin {
  margin: 20px 0;
}

.buyTicketsButton {
  margin: 20px 0 0;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: medium;
}

.buyTicketsButton:hover {
  cursor: pointer;
}

.buttonText {
  color: white;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
  height: 500px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 70%;
  width: 50%;
  margin-top: 100px;
}

.contactData {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.data {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  justify-content: flex-start;
}

.infoIcons {
  width: 16px;
  height: 16px;
}

.dataText {
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 410px;
}

.nameAndMailContainer {
  display: flex;
  flex-direction: row;
}

.formItem {
  padding: 10px;
  width: 200px;
}

.formItem--marginRight {
  margin-right: 10px;
}

.formItem--widthAndMargin {
  width: 410px;
  margin: 10px 0;
}

.contactButton {
  background-color: black;
  color: white;
  padding: 10px;
  width: 80px;
  font-weight: bold;
  border: none;
  outline: none;
}

.contactButton:hover {
  cursor: pointer;
}

.map {
  width: 100%;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedia {
  color: gray;
  font-size: 25px;
  margin-bottom: 20px;
}

.poweredBy {
  color: gray;
}

.footerAnchor {
  color: gray;
  text-decoration: underline;
}